.input__container {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
}

.input__container label {
    font-weight: 700;
    font-size: 1rem;
}

.input {
    padding: .8125rem 1rem;
    border: 1px solid #CFCFCF;
    border-radius: .25rem
}

.input-error {
    border: 1px solid #F00;
}

.error-message {
    color: #f00;
}